gym==0.26.2
gym-notices==0.0.8
gym-pull==0.1.7
gym-super-mario-bros==7.4.0
matplotlib==3.9.2
nes_py==8.2.1
numpy==1.26.4
opencv-python==4.10.0.84
pygame==2.6.1
pyglet==1.5.21
Pygments==2.15.1
pyparsing==3.2.0
PySocks==1.7.1
tensordict==0.3.0
torch==2.5.1
torchrl==0.3.0
torchvision==0.20.1